<!DOCTYPE html>
<html>
  <head>
    <title>AI4MH</title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ai4mh.or.tz">
    <meta property="og:title" content="<%= productName %>">
    <meta property="og:description" content="<%= productDescription %>">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="200">
    <meta property="og:image" itemprop="image" content="https://ai4mh.or.tz/assets/logo.034372d6.png" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ai4mh.or.tz">
    <meta property="twitter:title" content="<%= productName %>">
    <meta property="twitter:description" content="<%= productDescription %>">
    <meta property="twitter:image" content="https://ai4mh.or.tz/assets/logo.034372d6.png">



    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="./public/logo.png"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>

</html>
